<footer class="bg-dark text-white text-center py-1 mt-5 ">
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="navbar-text " id="demo"></span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col">
            Lucifer production 2023©️
        </div>
    </div>
</div>
</footer>
<script src="/admin.js"></script>
</body>

</html>